*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.contanier
{
    max-width: 100%;
    padding: 20px;
}
.w-100
{
    width: 100%;
    padding: 12px;
}
.w-50
{
    width: 50%;
    padding: 20px;
}
ul
{
    margin-left: 14%;
    list-style: none;
}
li
{
    font-size: 20px;
    margin-left: 100px;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(198, 70, 175);
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
button
{
    border: none;
    background-color: transparent;
    font-weight: 700;
    border-bottom: 2px solid rgb(200, 48, 155);
    padding: 12px;
    color: white;
    margin-top: 20px;
}
img
{
    width: 50%;
    border-radius: 10%;
}
h3
{
    text-align: center;
    margin-top: 50px;
    color: white;
}
h1{
    text-align: center;
    margin-top: 20px;
    color: white;
}
p
{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: white;
}
.foot
{
    margin-top: 30px;
    text-align: center;
    color: rgb(255, 0, 225);
    letter-spacing: 2px;
    word-spacing: 3px;
    border: none;
    border-top: 2px solid rgb(211, 83, 190);
    padding: 20px;
}
footer
{
    padding: 20px;
}